
@font-face {
  font-family: 'bebas';
  src: url('../src/Assets/Fonts/BebasNeue-Regular.ttf') format('truetype');
  /* Add other font formats here if necessary */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto';
  src: url('../src/Assets/Fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
  /* Add other font formats here if necessary */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'schabo';
  src: url('../src/Assets/Fonts/robinson-outline.otf') format('truetype');
  /* Add other font formats here if necessary */
  font-weight: normal;
  font-style: normal;
}


h1 {
  font-family: 'bebas', sans-serif;
  font-size: 64px;
}

.parallax-container {
  background-color: magenta;
  padding-top: 100px;
  .sticky-header {
    position: fixed;
    z-index: 99;
    width: 97.5vw;
    background-color: lime;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 10px;
    border-radius: 5px;
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      float: right;
      li {
        margin-right: 25px;
      }
    }
  }
}

.content {
  height: 800px;
  padding-top: 100px;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.parallax-styles::-webkit-scrollbar {
  display: none;
}

.lax-one {
  background-color: '#14213D';
}

.lax-three {
  background-image: src('https://awv3node-homepage.surge.sh/build/assets/stars.svg');
  background-size: 'cover';
}

.lax-four {
  pointer-events: 'none';
}

.lax-five {
  img {
    content: src('https://awv3node-homepage.surge.sh/build/assets/satellite4.svg');
    width: '15%';
    margin-left: '70%';
  }
}

.lax-six {
  .cloud-one {
    display: 'block'; 
    width: '20%'; 
    margin-left: '70%';
    content: src('https://awv3node-homepage.surge.sh/build/assets/cloud.svg');
  }
  .cloud-two {
    display: 'block';
    width: '20%';
     margin-left: '40%';
     content: src('https://awv3node-homepage.surge.sh/build/assets/cloud.svg');
  }
}

.lax-seven {
  opacity: 0.2;
}