.parallax-container {
  background-color: magenta;
  padding-top: 100px;
  .sticky-header {
    position: fixed;
    z-index: 99;
    width: 97.5vw;
    background-color: lime;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 10px;
    border-radius: 5px;
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      float: right;
      li {
        margin-right: 25px;
      }
    }
  }
}

.content {
  height: 800px;
  padding-top: 100px;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}